In [38]:
import pandas as pd
import numpy as np

ex1_name = 'ex1.xlsx'

ex1 = pd.read_excel(ex1_name, sheet_name = None)

In [40]:
type(ex1)

dict

In [63]:
e1 = pd.concat(ex1, ignore_index =True)
type(e1)
e1

  title  age
0  aaaa    1
1  bbbb    2
2   vvv    3
3  ffff    4

In [120]:

#apply style to all dataframe
e1.style.set_properties(**{'background-color': 'black',
                           'color': 'green'})

In [121]:
e1.to_excel('try.xlsx', index =False,engine="openpyxl")

In [ ]:
#color one single columns
e1.style.set_properties(**{'background-color': 'red'}, subset=['age'])
e1.to_excel("output.xlsx", sheet_name='Sheet_name_1')

In [92]:
def highlight_greaterthan_1(s):
    return ['background-color: blue']


e1.style.apply(highlight_greaterthan_1)